@CHARSET "ISO-8859-1";
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}
.region-table{
	list-style: none;
} 
ul.region-table li{
	float:left;
	padding-right: 15px;
}




/* for hiding the page banner */
.pagebanner 
{
        display: none;
}
/* for customizing page links */
.pagelinks 
{
        color: black;
        margin: 20px 0px 20px 50px;
}
/* for shifting all the Export options*/
.exportlinks 
{
        margin: 20px 0px 20px 30px;
}
/* For changing the spaces between export link */
.export 
{
        margin-left: 30px;
}
/* For Table css */
table 
{
        border: 1px solid #666;
        width: 60%;
        margin: 20px 0 20px 0px;
}
/* For odd and even row decoration */
tr {
	
}

/* Css for table elements */
th,td 
{
        padding: 2px 4px 2px 4px;
        text-align: left;
        vertical-align: top;
}
thead tr 
{
        background-color: #999999;
}
/* For changing the background colour while sorting */
th {
	background-color: #709E81;
}
th a {
	text-decoration: none;
}
th.sorted 
{
        background-color: #709E81;
}
th.sorted a,th.sortable a 
{
        background-position: right;
        display: block;
        width: 100%;
}
th a:hover 
{
        text-decoration: underline;
        color: white;
}
th a,th a:visited 
{
        color: white;
}
a {
	color: white;
}

/*form format*/

.wwgrp {
	display: table;
    width:100%;
	padding-top:20px;
}
.wwlbl {
	display: table-cell;
}
.wwctrl {
	display: table-cell;
    width: 60%;
}
#form-container {
	display: table;
    width:100%;
}
#form-part1 {	
	display: table-cell;
}

#form-part2 {
	display: table-cell;
    width: 50%;
}

/*background*/
html { 
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
.errorMessage {
	color:red;
}

input[type="button"],input[type="submit"]{
		cursor: pointer;
		background: white;
		color: black;
		font-weight: bold;
		text-align: center;
		padding: 5px 10px;
		font-family: Arial;
		border: none;
		border: 2px solid black;
	}
	input[type="button"]:hover, input[type="submit"]:hover{
		background: black;
		border: 2px solid white;
		color: white;
	}